{{title}} Hello

<button type="button" [disabled]="isDisabled">{{btn}}</button>
<img alt="hsa" [src]="imageUrl" width="50px"/>

<div>
    <p [style]="backcolor">Hellooo</p>
</div>
<div>
  <h2 [class.textColors]="isTextRed == 'yes' ">Good Morning</h2>
</div>
<div>

  <button (click)="incrementNumber()">Increment</button>
  <p>Count: {{ count }}</p>

  <input (input)="OnInputChange($event)" placeholder="Type here..." />
  <p>You typed: {{ inputValue }}</p>
  

  <button (dblclick)="onDoubleClick()">Double Click</button>

</div>

<div 
  style="padding: 10px; border: 1px solid #333; display: inline-block;"
  (mousedown)="onMouseDown()"
  (mouseup)="onMouseUp()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">
  Hover and click me
  
  <p>{{mouseStatus}}</p>
</div>

<!-- Keyboard Events -->
<input 
  (keydown)="onKeyDown($event)" 
  (keyup)="onKeyUp($event)" 
  placeholder="Type something..." />
<p>{{ key }}</p>

<!-- Input, Change, Focus, Blur -->
<input 
  
  (change)="onChange($event)"
  (focus)="onFocus()" 
  (blur)="onBlur()" 
  placeholder="Focus me!" />
<p>Typed: {{ inputValue }}</p>
<p>{{ focusStatus }}</p>
<!-- Scrollable area -->
<div 
  style="width: 200px; height: 100px; overflow-y: scroll; border: 1px solid #ccc;" 
  (scroll)="onScroll($event)">
  <p style="height: 300px;">Scroll inside this box</p>
</div>

<!-- Window Resize -->
<!-- <p>Window Width: {{ windowWidth }}</p> -->

<!-- Drag and Drop -->
<div 
  draggable="true" 
  (dragstart)="onDragStart($event)" 
  style="width: 150px; background: lightblue; padding: 5px; margin: 10px;">
  Drag me
</div>

<div 
  (drop)="onDrop($event)" 
  (dragover)="onDragOver($event)" 
  style="width: 200px; height: 100px; border: 2px dashed gray; display: flex; align-items: center; justify-content: center;">
  Drop here
</div>
<p>Dropped Content: {{ droppedData }}</p>

<!-- Two Way DataBinding -->

<input [(ngModel)]="ChangingText" placeholder="Enter Name"/>
<p>Your Text : {{ChangingText}}</p>

<!-- ngClass -->

<div [ngClass]="classes">
  <p>{{message}}</p>
</div>

<!-- ngStyle -->

<div class="box-color" [ngStyle]=" {'background-color':BoxbackColor} ">Box</div>


<h2 style="text-align: center;">Structure Directive</h2>

<!-- Structure Directive -->
<!-- use Else -->
<div *ngIf="IsLogging else LoggedOut">Welcome , {{username}}</div>
<ng-template #LoggedOut>Please,Login</ng-template>
<div *ngIf="!IsLogging">Please Login to view the content</div>

  <!-- Or and  -->

  <div *ngIf="IsLogging && SignIn">Login content</div>

<!-- ngfor -->

<ul>
  <li *ngFor="let name of names; let i = index">{{i}} {{name}}</li>
</ul>

<!-- ngSwitch -->

<div [ngSwitch]="grade">
  <p *ngSwitchCase="'A'">Awesome</p>
  <p *ngSwitchCase="'B'">Goos</p>
  <p *ngSwitchDefault>Unknown</p>
  
</div>

<!-- PIPES -->

<h2 style="text-align: center;">PIPES Example</h2>
<p>{{PipeText | uppercase}}</p>

<p>Today is {{today}}</p>
<p>Today is {{today | date}}</p>
<p>Today is {{today | date:"fullDate"}}</p>
<p>Today is {{today | date:"hh:mm:ss"}}</p>


<p>{{currencyvalue | currency : "EUR" : "symbol":"2.1-4"}}</p>

<!-- percent -->

<p>{{currencyvalue | percent}}</p>

<p>{{PipeText | append: " Custom"}}</p>

<!-- dependancy Injection -->
 {{messages}}

 <p>Api Data</p>
 <div *ngFor="let post of posts">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
 </div>