{{title}} Hello

<button type="button" [disabled]="isDisabled">{{btn}}</button>
<img alt="hsa" [src]="imageUrl" width="50px"/>

<div>
    <p [style]="backcolor">Hellooo</p>
</div>
<div>
  <h2 [class.textColors]="isTextRed == 'yes' ">Good Morning</h2>
</div>
<div>

  <button (click)="incrementNumber()">Increment</button>
  <p>Count: {{ count }}</p>

  <input (input)="OnInputChange($event)" placeholder="Type here..." />
  <p>You typed: {{ inputValue }}</p>
  

  <button (dblclick)="onDoubleClick()">Double Click</button>

</div>

<div 
  style="padding: 10px; border: 1px solid #333; display: inline-block;"
  (mousedown)="onMouseDown()"
  (mouseup)="onMouseUp()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()">
  Hover and click me
  
  <p>{{mouseStatus}}</p>
</div>

<!-- Keyboard Events -->
<input 
  (keydown)="onKeyDown($event)" 
  (keyup)="onKeyUp($event)" 
  placeholder="Type something..." />
<p>{{ key }}</p>

<!-- Input, Change, Focus, Blur -->
<input 
  
  (change)="onChange($event)"
  (focus)="onFocus()" 
  (blur)="onBlur()" 
  placeholder="Focus me!" />
<p>Typed: {{ inputValue }}</p>
<p>{{ focusStatus }}</p>
<!-- Scrollable area -->
<div 
  style="width: 200px; height: 100px; overflow-y: scroll; border: 1px solid #ccc;" 
  (scroll)="onScroll($event)">
  <p style="height: 300px;">Scroll inside this box</p>
</div>

<!-- Window Resize -->
<!-- <p>Window Width: {{ windowWidth }}</p> -->

<!-- Drag and Drop -->
<div 
  draggable="true" 
  (dragstart)="onDragStart($event)" 
  style="width: 150px; background: lightblue; padding: 5px; margin: 10px;">
  Drag me
</div>

<div 
  (drop)="onDrop($event)" 
  (dragover)="onDragOver($event)" 
  style="width: 200px; height: 100px; border: 2px dashed gray; display: flex; align-items: center; justify-content: center;">
  Drop here
</div>
<p>Dropped Content: {{ droppedData }}</p>

<!-- Two Way DataBinding -->

<input [(ngModel)]="ChangingText" placeholder="Enter Name"/>
<p>Your Text : {{ChangingText}}</p>

<!-- ngClass -->

<div [ngClass]="classes">
  <p>{{message}}</p>
</div>

<!-- ngStyle -->

<div class="box-color" [ngStyle]=" {'background-color':BoxbackColor} ">Box</div>


<h2 style="text-align: center;">Structure Directive</h2>

<!-- Structure Directive -->
<!-- use Else -->
<div *ngIf="IsLogging else LoggedOut">Welcome , {{username}}</div>
<ng-template #LoggedOut>Please,Login</ng-template>
<div *ngIf="!IsLogging">Please Login to view the content</div>

  <!-- Or and  -->

  <div *ngIf="IsLogging && SignIn">Login content</div>

<!-- ngfor -->

<ul>
  <li *ngFor="let name of names; let i = index">{{i}} {{name}}</li>
</ul>

<!-- ngSwitch -->

<div [ngSwitch]="grade">
  <p *ngSwitchCase="'A'">Awesome</p>
  <p *ngSwitchCase="'B'">Goos</p>
  <p *ngSwitchDefault>Unknown</p>
  
</div>

<!-- PIPES -->

<h2 style="text-align: center;">PIPES Example</h2>
<p>{{PipeText | uppercase}}</p>

<p>Today is {{today}}</p>
<p>Today is {{today | date}}</p>
<p>Today is {{today | date:"fullDate"}}</p>
<p>Today is {{today | date:"hh:mm:ss"}}</p>


<p>{{currencyvalue | currency : "EUR" : "symbol":"2.1-4"}}</p>

<!-- percent -->

<p>{{currencyvalue | percent}}</p>

<p>{{PipeText | append: " Custom"}}</p>

<!-- dependancy Injection -->
 {{messages}}

 <p>Api Data</p>
 <div *ngFor="let post of posts">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
 </div>


 <!-- <p>
  = Pipes : Pipes allows you to Modify your Data in your application before Displaying to the user
-Pipes are used to format, filter, and sort data and they can be used with both template-driven and reactive forms, as well as with other Angular components and services.

	<> Built-In Pipes
	<> Custom Pipes
	<> pure Impure Pipes

	* Built-In Pipes
		* Uppercase pipe
		* Lowercase pipe
		* Slice pipe
		* Currency pipe
		* async Pipes
		* percent pipes
		* Date pipes
		* Titlecase pipes
		* json pipes
	
	* Custom Pipes
		- To create Pipes ng generate pipe pipes/append
		- after this import it into app.module.ts file and its declaration section
		- then into pipe.ts file create a logic for pipe which we can display in html side
		
	* pure pipes
		- Pure pipes are designed to be stateless, meaning that they don’t have any internal state that could affect their output.
		- Instead, they take input data and return transformed output data. Pure pipes are also memoized, which means that if the input data hasn’t changed since the last time the pipe was called, the pipe won’t be executed again.
		- To create a pure pipe in Angular, you need to add the pure: true option to the @Pipe decorator, like this:\
		@Pipe({
		name: 'myPurePipe',
		pure: true
		})
	
	* Impure pipes
		- Impure pipes can be useful in some cases, such as when you need to perform a heavy calculation or retrieve data from an external API.
		- Use only when you need to handle mutable data structures (like changing array contents).
		

= Directives:Directives are custom HTML attributes which tell angular to change the style or behavior of the Dom elements.

	<> Components — directives with a template.
	<> Structural directives — change the DOM layout by adding and removing DOM elements.
	<> Attribute directives — change the appearance or behavior of an element, component, or another directive.
	
	* Component Directives:(Directive With template)
	- Directives must be declared in Angular Modules in the same manner as components.
	
	* Structural Directives:Structural Directives are responsible for changing the structure of the DOM. They work by adding or removing the elements from the DOM, unlike Attribute Directives which just change the element’s appearance and behavior.
	- You can easily differentiate between the Structural and Attribute Directive by looking at the syntax. The Structural Directive’s name always starts with an asterisk(*) prefix, whereas Attribute Directive does not contain any prefix.
	
	- most popular structural directives:
		NgIf,
		NgFor,
		NgSwitch.
		
	1. NgIf:It is used to create or remove a part of the DOM tree depending on a condition.
	- The *ngIf directive moved to the <ng-template> element where it became a property binding,[ngIf]. means the else case Like this
	
		Example: 
		<div *ngIf=”movie”>{{movie.name}}</div>
		<div template=”ngIf movie”>{{movie.name}}</div>
		<ng-template [ngIf]=”movie”>
		<div>{{movie.name}}</div>
		</ng-template>
	
	2. NgFor:It is used to customize data display. It is mainly used for displaying a list of items using repetitive loops.
	Example:
	<div *ngFor="let movie of movies">{{movie.name}}</div>
	<div template="ngFor let movie of movies">{{movie.name}}</div>
	<ng-template ngFor let-movie [ngFor]="movies">{{movie.name}}
	</ng-template>
	
	3.NgSwitch:It is like the JavaScript switch. It can display one element from among several possible elements, based on a switch condition. Angular puts only the selected element into the DOM.
	
	* Attribute Directives:Attribute directives manipulate the DOM by changing its behavior and appearance.
	- We use attribute directives to apply conditional style to elements, show or hide elements or dynamically change the behavior of a component according to a changing property.
	- Angular provides many built-in Attribute Directives like NgStyle, NgClass, etc.
 </p> -->